<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Page</title>
  </head>
  <body>
    <h1>Enter Your Details</h1>
    <form action="/submit" method="post" id="predictionForm">
      <label for="user_id">User ID:</label>
      <input type="text" id="user_id" name="user_id" /><br />
      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" /><br />
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" /><br />
      <label for="height">Height:</label>
      <input type="text" id="height" name="height" /><br />
      <label for="weight">Weight:</label>
      <input type="text" id="weight" name="weight" /><br />
      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" /><br />
      <label for="heart_rate">Heart Rate:</label>
      <input type="text" id="heart_rate" name="heart_rate" /><br />
      <label for="body_temperature">Body Temperature:</label>
      <input type="text" id="body_temperature" name="body_temperature" /><br />
      <button type="submit">Predict</button>
    </form>
    <p id="result"></p>

    <script>
      document
        .getElementById("predictionForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(this);
          fetch("/submit", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("result").textContent =
                "Predicted Calories: " + data.result;
            })
            .catch((error) => console.error("Error:", error));
        });
    </script>
  </body>
</html>
